
body {
    background: #010000;
    margin: 0;
    padding: 0;
    color: #3c3d3f;
    font-family: 'Istok Web',sans-serif;
    font-size: 12px;
}

h1 {
    margin: 0;
    padding: 0;
    color: #ff3000;
    font-weight: 400;
    font-size: 1.8em;
}

h2 {
    margin: 0;
    padding: 0;
    color: #ff3000;
    font-weight: 400;
    font-size: 1.6em;
}

h3 {
    margin: 0;
    padding: 0;
    color: #ff3000;
    font-weight: 400;
    font-size: 1.4em;
}

p {
    line-height: 180%;
    margin-top: 0;
}

ul {
    line-height: 180%;
    margin-top: 0;
}

ol {
    line-height: 180%;
    margin-top: 0;
}

a {
    color: #2e458a;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

#wrapper {
    margin: 0 auto;
    padding: 0;
}

#header-wrapper {
    height: 115px;
}

#header {
    margin: 0 auto;
    padding: 30px 0 0;
    width: 900px;
    overflow: hidden;
}

#logo {
    margin: 0;
    padding: 0;
    width: 350px;
    color: #000;
    float: left;
}

#logo h1 {
}

#logo p {
}

#logo h1 {
    padding: 20px 0 0;
    color: grey;
    letter-spacing: -1px;
    font-size: xx-large;
    margin-left: 30px;
}

#logo h1 a {
    color: #fff;
}

#logo h1 span {
}

#logo p {
    font: italic 12px/normal Georgia,"Times New Roman",Times,serif;
    margin: -5px 0 0;
    padding: 0 0 0 32px;
    color: grey;
    text-transform: lowercase;
    font-size-adjust: none;
    font-stretch: normal;
}

#logo a {
    border: currentColor;
    color: #45302c;
    text-decoration: none;
}

#search {
    padding: 0;
    width: 280px;
    height: 40px;
    float: right;
}

#search form {
    margin: 0;
    padding: 10px 0 0 20px;
}

#search fieldset {
    margin: 0;
    padding: 0;
    border: currentColor;
}

#search-text {
    font: 12px/normal Arial,Helvetica,sans-serif;
    padding: 4px 5px 1px;
    border: currentColor;
    width: 170px;
    height: 19px;
    color: #b9adaa;
    text-transform: lowercase;
    margin-right: 10px;
    font-size-adjust: none;
    font-stretch: normal;
}

#search-submit {
    border: currentColor;
    width: 45px;
    height: 26px;
    color: #fff;
    text-indent: -9999px;
}

#menu {
    margin: 0 auto;
    padding: 0;
    height: 125px;
    float: right;
}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 40px 0 0;
    line-height: normal;
}

#menu li {
    float: left;
}

#menu a {
    padding: 6px 15px 0;
    border: currentColor;
    height: 24px;
    text-align: center;
    color: #fff;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    margin-right: 2px;
    display: block;
}

#menu a:hover {
    text-decoration: none;
    text-shadow: #720F12 -1px 1px 1px;
}

#menu .current_page_item a {
    text-decoration: none;
    text-shadow: #720F12 -1px 1px 1px;
}

#menu .current_page_item a {
    text-shadow: #720F12 -1px 1px 1px;
}

#page {
    margin: 0 auto;
    padding: 0;
    width: 900px;
}

#page-bgtop {
}

#content {
    background: #fff;
    padding: 40px 0 0;
    width: 600px;
    float: left;
}

.post {
    padding: 0 30px;
    margin-bottom: 30px;
}

.post .title {
    padding: 0;
    height: 41px;
}

.post .title a {
    border: currentColor;
    color: #bf3b41;
    text-transform: lowercase;
    letter-spacing: 2px;
    text-decoration: none;
}

.post .entry {
    padding: 10px 0 20px;
    text-align: justify;
    border-bottom-color: #d1d9f0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.post .meta {
    overflow: hidden;
    padding-top: 10px;
}

.post .links {
}

.links a {
    background: #87a0e5;
    padding: 4px 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    text-decoration: none;
}

.author {
    background: #df8088;
    padding: 4px 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
}

.author a {
    color: #fff;
    text-decoration: none;
}

.date {
    background: #91d9aa;
    padding: 4px 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
}

#sidebar {
    background: #231917;
    margin: 0;
    padding: 0;
    width: 300px;
    border-bottom-color: #c8181e;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    float: right;
}

#sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#sidebar li {
    margin: 0 0 0 20px;
    padding: 0;
}

#sidebar li ul {
    margin: 0;
    padding-bottom: 30px;
}

#sidebar li li {
    text-align: left;
    line-height: 35px;
    border-bottom-color: #342725;
    border-left-color: currentColor;
    border-bottom-width: 1px;
    border-left-width: medium;
    border-bottom-style: solid;
    border-left-style: none;
}

#sidebar li li span {
    padding: 0;
    font-size: 11px;
    font-style: italic;
    margin-top: -20px;
    display: block;
}

#sidebar li li a {
    padding: 0 0 0 20px;
}

#sidebar h2 {
    margin: 0 0 20px;
    padding: 4px 0 0 10px;
    height: 15px;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -.5px;
    font-size: 1em;
    text-shadow: #720F12 -1px 1px 1px;
}

#sidebar p {
    margin: 0;
    padding: 0 20px 10px;
    text-align: justify;
    color: #b9adaa;
}

#sidebar a {
    border: currentColor;
    color: #b9adaa;
    text-decoration: none;
}

#sidebar a:hover {
    color: #b9adaa;
    text-decoration: underline;
}

#calendar {
}

#calendar_wrap {
    padding: 20px;
}

#calendar table {
    width: 100%;
}

#calendar tbody td {
    text-align: center;
}

#calendar #next {
    text-align: right;
}

#footer {
    margin: 0 auto;
    padding: 0 0 15px;
    width: 900px;
    height: 25px;
    font-family: Arial,Helvetica,sans-serif;
}

#footer p {
    margin: 0;
    padding: 20px 0 0 30px;
    text-align: left;
    color: #45302c;
    text-transform: uppercase;
    line-height: normal;
    font-size: 10px;
}

#footer a {
    color: #6b4a45;
}

#about {
    background: #231917;
    padding: 30px;
    width: 540px;
    color: #fdaf85;
    border-bottom-color: #c8181e;
    border-bottom-width: 4px;
    border-bottom-style: solid;
}

#about h2 {
    color: #fff;
    padding-bottom: 10px;
}

#about a {
    color: #b9adaa;
}
